<div class="myShoppingList div">
  <h1>My Shopping List</h1>

  <div class="container">
    <table class="table table-hover">
      <th>Ingredient</th>
      <th>Quantity</th>
      <tbody>
        <tr *ngFor="let s of shoppingList"  [style.background-color] = "s.rowClicked ? 'lightblue' : 'white' " (click) = "purchaseItem(s) " (click) = "s.rowClicked = !s.rowClicked">
          <td>{{ s.ingredient.name }}</td>
          <td>{{ s.amount }}</td>
        </tr>
        <tr>
          <td colspan="2">Custom Item: 
          <input type="text" [(ngModel)]="notes" style="width: max-content;"/>
          <button class = "btn btn-primary" (click) = "addCustom()">Add Custom Item</button>
        </td>
        </tr>

      </tbody>
    </table>
    <button class="btn btn-primary" (click) = "selectAll()">Select All</button>
    <button class="btn btn-primary" (click) = "deselectAll()">Deselect All</button>
    <button class="btn btn-primary" (click) = "purchase()">Purchase Slected Items</button>
  </div>
</div>
