<div id="container">
    <h1>LOGIN</h1>
    <input id="usernameText" class="inputText" type="text" placeholder="Username">
    <input id="passwordText" class="inputText" type="password" placeholder="Password">
    <button id="loginButton" class="button" onmouseover="style='background: linear-gradient(to right, lightblue, rgb(235, 239, 241), lightblue)'" onmousedown="style='background: linear-gradient(to right, rgb(235, 239, 241), lightblue, rgb(235, 239, 241))'" onmouseup="style='background: linear-gradient(to right, lightblue, rgb(235, 239, 241), lightblue)'" onmouseout="style='background: none'">LOGIN</button>
    <a id="register" routerLink="/register" >Register new account?</a>
    
</div>