<!-- <div id="container">
    <h1>LOGIN</h1>
    <input id="usernameText" class="inputText" type="text" [(ngModel)] = "username"  placeholder="Username">
    <input id="passwordText" class="inputText" type="password" [(ngModel)] = "password" placeholder="Password">
    <button id="loginButton" (click)= "getLogin()" class="button" onmouseover="style='background: linear-gradient(to right, lightblue, rgb(235, 239, 241), lightblue)'" onmousedown="style='background: linear-gradient(to right, rgb(235, 239, 241), lightblue, rgb(235, 239, 241))'" onmouseup="style='background: linear-gradient(to right, lightblue, rgb(235, 239, 241), lightblue)'" onmouseout="style='background: none'">LOGIN</button>
    <a id="register" routerLink="/register" >Register new account?</a>
    
</div> -->
<div class="my-container">
<div class="view" style="padding:170px 20px; height:77vh; width:100%; background-image: url('assets/Login.png'); background-size: cover; background-position: center center;">
    <div id="logincontainer" class="container-fluid" *ngIf="login" >
<div id="logincont" class="container" style="opacity: 0.9; margin-bottom:5%"> 
    <h1>Login</h1>
    <input id="usernameText" class="inputText" type="text" [(ngModel)] = "username"  placeholder="Username">
    <input id="passwordText" class="inputText" type="password" [(ngModel)] = "password" placeholder="Password">
    <button id="loginButton" (click)= "getLogin()" class="button" onmouseover="style='background: linear-gradient(to right, lightblue, rgb(235, 239, 241), lightblue)'" onmousedown="style='background: linear-gradient(to right, rgb(235, 239, 241), lightblue, rgb(235, 239, 241))'" onmouseup="style='background: linear-gradient(to right, lightblue, rgb(235, 239, 241), lightblue)'" onmouseout="style='background: none'">LOGIN</button>
    <a style="cursor:pointer" id="register"  (click)="loginPage()" >Register new account?</a> 
   
</div>
<div id="footer" class="container-fluid" style="color:white; height: 20vh; ">
    <h2 style="margin-top:215px; margin-bottom:40px">Your Virtual Butler</h2>
    <div class="row">
    <h4 class="col-4"><i>Amazing Recipes</i></h4>
    <h4 class="col-4"><i>Custom Grocery List Creation</i></h4>
    <h4 class="col-4"><i>Intuitive Pantry Management</i></h4>
</div>
</div>
</div>
<div id="registercontainer" class="container" *ngIf="register" style="opacity: 0.9">
    <h1>Register</h1>
    <input id="usernameText" class="inputText" type="text" [(ngModel)] = "addusername" placeholder="Username">
    <input id="passwordText" class="inputText" type="password" placeholder="Password">
    <input id="confirmPasswordText" class="inputText" type="password" [(ngModel)] = "addpassword" placeholder="Confirm Password">
    <input id="firstnameText" class="inputText" type="text" [(ngModel)] = "f_name" placeholder="First Name">
    <input id="lastnameText" class="inputText" type="text" [(ngModel)] = "l_name" placeholder="Last Name">
    <button id="registerButton" routerLink="/login" (click) = "addShopper()" class="button" onmouseover="style='background: linear-gradient(to right, lightblue, rgb(235, 239, 241), lightblue)'" onmousedown="style='background: linear-gradient(to right, rgb(235, 239, 241), lightblue, rgb(235, 239, 241))'" onmouseup="style='background: linear-gradient(to right, lightblue, rgb(235, 239, 241), lightblue)'" onmouseout="style='background: none'">REGISTER</button>
    <a style="cursor:pointer" (click)="registerPage()">Cancel</a>  
</div>
  <div id="footer" class="container-fluid" style="color:white; height: 20vh; ">
    <h2 style="margin-top:100px; margin-bottom:40px">Get Started!</h2>
</div>
</div>
</div>
