<div id="divcontainer">
    <div class=container-fluid
style="color:white; border: 2px solid; background-color:  #39b7c0">
<h1 style="font-size:48px;font-style:bold; padding: 40px 70px;">Pantry</h1>
</div>
    <h3 style="margin-top: 50px;">My Pantry</h3>
        <div class="container-fluid">
        <table class="table table-striped table-hover">
               <tr>
                   <th>Ingredient</th>
                   <th>Amount</th>
               </tr>
               <tbody id="RecipeSeletions">
               <tr></tr>
               </tbody>
           </table><br>
          </div>
</div>
