
<div class="div">
  <div class=container-fluid 
  style=" text-align:left; color:white; border: 2px solid; background-color:  #45c3cc">
  <h1 style="font-size:65px;font-style:bold; padding: 40px 70px">Recipes</h1>
  </div>

  <div class="container" id="myGroup">
    <p>
        <a class="btn btn-info" data-toggle="collapse" href="#collapser" role="button" aria-expanded="false" aria-controls="collapseExample" style="margin:30px; padding:15px 40px; width:250px">
            Search By Description 
        </a>
        <button class="btn btn-info" type="button"  data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" style="margin:30px; padding:15px 40px; width:250px">
            Search By Name 
        </button>
    </p>
  
    <div class="collapse" id="collapser" data-parent="#myGroup" text-center>
     <div class="card-header">
          Enter Description:
        </div>
        <div class="card-body">
          <input class="form-control mr-2" [(ngModel)]="searched" name="cuis" type = "text" id="recipecuisine" placeholder="eg. Spicy, Italian"  style="margin:30px">
          <button class="btn btn-primary mr-2" (click)="recipeResults()" id="searchCuisine" type="submit" style="width:200px">Search ⮞</button>
        </div>
      </div>
    <div class="collapse" id="collapseExample2" data-parent="#myGroup">
      <div class="card-header">
        Enter Recipe Name:
      </div>
      <div class="card-body">
            <input class="form-control mr-2" [(ngModel)]="name" name="searchname" type = "text" id="recipename" placeholder="Desired Recipe" style="margin:30px">
            <button class="btn btn-primary mr-2" (click)="nameResults()" id="searchName" type="submit" style="width:200px">Search ⮞</button>
        
    </div></div>
    </div>

    <h3 [innerHTML]="sTitle"></h3>
    <div class="card-deck" >
      <div class="card" *ngFor="let r of resultList">
        <div class="card-header">
          {{ r.title }}
        </div>
        <div class="card-body">
          <p class="card-text">{{ r.cuisine }}</p>
          <p class="card-text"><small class="text-muted">#{{ r.tag1 }}  &nbsp;&nbsp;  #{{ r.tag2 }}</small></p>

          <button (click)="addToSelections(r)" class="card-link" style="color:darkblue; background:none;border:none">&#43; Add to Shopping List"</button>
          <button (click)="getRecipeIngredients(r)" class="card-link" style="color:darkblue; background:none;border:none">Show Ingredients</button>
        </div>
      </div>
    </div><br>
    <div class="card-deck" >
      <div class="card" *ngFor="let r of selectList">
        <div class="card-header">
          {{ r.title }}
        </div>
        <div class="card-body">
          <button (click)="addToShoppingList(r)"class="card-link" style=" background:none;border:none">✔️ Added</button>
          <button (click)="addToSelections(r)" class="card-link" style="color:darkblue; background:none;border:none">Double this Recipe</button>

        </div>
      </div>
    </div><br>
             <button class="btn btn-primary mr-2" id="addList" type="submit" style="width:200px">Add all to Shopping List</button>
            </div>