
<div class="div">
  <div class=container-fluid 
  style=" text-align:left; color:white; border: 2px solid; background-color:  #45c3cc">
  <h1 style="font-size:65px;font-style:bold; padding: 40px 70px">Recipes</h1>
  </div>

  <div class="container" id="myGroup">
    <p>
        <a class="btn btn-info" data-toggle="collapse" href="#collapser" role="button" aria-expanded="false" aria-controls="collapseExample" style="margin:30px; padding:15px 40px; width:250px">
            Search By Description 
        </a>
        <button class="btn btn-info" type="button"  data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" style="margin:30px; padding:15px 40px; width:250px">
            Search By Name 
        </button>
    </p>
  
    <div class="collapse" id="collapser" data-parent="#myGroup" text-center>
     <div class="card-header">
          Enter Description:
        </div>
        <div class="card-body">
          <input class="form-control mr-2" [(ngModel)]="searched" name="cuis" type = "text" id="recipecuisine" placeholder="eg. Spicy, Italian"  style="margin:30px">
          <button class="btn btn-primary mr-2" (click)="recipeResults()" id="searchCuisine" type="submit" style="width:200px">Search ⮞</button>
        </div>
      </div>
    <div class="collapse" id="collapseExample2" data-parent="#myGroup">
      <div class="card-header">
        Enter Recipe Name:
      </div>
      <div class="card-body">
            <input class="form-control mr-2" [(ngModel)]="name" name="searchname" type = "text" id="recipename" placeholder="Desired Recipe" style="margin:30px">
            <button class="btn btn-primary mr-2" (click)="nameResults()" id="searchName" type="submit" style="width:200px">Search ⮞</button>
        
    </div></div>
    </div>

    <div class="container">
      <div class="row">
      <section class="col-6" *ngFor="let r of resultList">
      <div class="card mt-3" >
        <div class="card-header">
          <h2 class="card-title">{{ r.title }}</h2>
          
        </div>
        <div class="card-body">
          <img class=img-fluid mx-auto src="assets/{{r.title}}.jpg" alt="Icon">
          <p class="card-text">{{ r.cuisine }}</p>
          <p class="card-text"><small class="text-muted">#{{ r.tag1 }}  &nbsp;&nbsp;  #{{ r.tag2 }}</small></p>

          <button type="button" (click)="addToSelections(r)" class="btn btn-info" > Add to List &#43;</button>
  
          <button (click)="showRecipeIngredients(r)"type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal">View</button>
        
          

          <!-- Modal -->
          <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" >
              <div class="modal-content"  >
                <div class="modal-header" >
                  <h5  class="modal-title" id="exampleModalLabel">Ingredients</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ul class="list-group" *ngFor ="let i of riList2">
                    <li class="list-group-item list-group-item">{{i.amount}} {{i.ingredient.units}}  {{i.ingredient.name}} </li>
                </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section></div>
  </div>
   <br>
    <h3 [innerHTML]="sTitle"></h3>
    <div class="row">
      <section class="col-4" *ngFor="let r of selectList">
      <div class="card mt-2" >
        <p id="recipeHead" class="card-title">
         {{ r.title }}
        </p>
        <div class="card-body">
          <button type="button" (click)="addToSelections(r)" class="btn btn-info" > Double this Recipe</button>
        </div>
      </div>
    </section>
    <br>
    </div><button *ngIf="getButton" class="btn btn-primary" (click)="getIngredients()" >Add all to Shopping List</button>

   </div>
