
body {
    text-align: center;
    margin: 0;
    height: 100%;
    
}
a.list-group-item{
    font-size:25px;
    font-weight:bold;
    color:rgb(9, 9, 104);
    margin:20px;
    cursor:pointer;
}
.div {
    animation: expand 1s;
    box-shadow: 5px 10px 18px lightslategray;
    padding: 20px;
    width: 90%;
    height: fit-content;
    font-family: Tahoma, Geneva, sans-serif;
    color: black;  
    border-radius: 35px;
    text-align: center;
    margin: auto;
}

h1 {
    animation: expand 1.5s;
    font-weight: 500;
}
h4 {
    font-weight:bold;
    color:rgb(9, 9, 104);
    margin:20px;
}
h2{
    font-weight:600;
}
h3{
    padding:50px 80px;
}
h5{
    margin-top:65%;
    margin-bottom:20px;
    color: rgb(2, 109, 109);
    font-weight: 600;
    font-size:50px;
}

#register {
    animation: expand 1.5s;
}

#container { 
    animation: expand 1s;
    box-shadow: 5px 10px 18px lightslategray;
    padding: 20px;
    width: 30%;
    height: fit-content;
    font-family: sans-serif;
    color: darkblue;  
    border-radius: 35px;
    text-align: center;
    margin: auto;  
}


img{
    width:300px;
    height:230px;
    border-radius: 20px;
  }


.inputText {
    animation: expand 1.5s;
    box-shadow: 2px 5px 9px lightslategray;
    margin: 30px auto;
    display: block;
    text-align: center;
    border-color: lightblue;
    border-radius: 10px;
    width: 60%;
    height: 30px;
    transition: 0.25s;
    outline: none;
}

.inputText:focus {
    width: 70%;
    height: 37px;
    border-color: darkblue;
}

.button {
    animation: expand 1.5s;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid lightblue;
    width: 40%;
    height: 50px;
    outline: none;
    color: darkblue;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer  
}

.button:hover {
   
    width: 45%;
    background: linear-gradient(to right, lightblue, rgb(235, 239, 241), lightblue)
}

@keyframes expand {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }




